<nav class="navbar navbar-expand-lg navbar navbar-dark backgroundNav">
  <a class="navbar-brand" href="#"><img  class = "logo" src="../assets/unilibre.png"/></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="solisala">Solicitar sala  </a>
      </li>

    </ul>
    <ul class="navbar-nav" style = "margin-left: auto !important">

    <li class = "nav-item">
      <a href="#" class="nav-link">Mi Perfil
        <img style = "max-width: 30px; margin-left: 6px" src="../assets/useru.png"/>
      </a>
    </li>
    </ul>

  </div>
</nav>