<form style="margin: 3em">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Fecha para la que se solicita</label>
      <input type="date" class="form-control" id="inputEmail4" placeholder="Fecha programada">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Laboratorio</label>
      <select id="inputState" class="form-control">
        <option selected>Seleccionar</option>
        <option>Software libre</option>
        <option>Laboratorio Linux</option>
        <option>Hardware y redes</option>
      </select>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputAddress">Asignatura</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Asignatura">
      </div>
      <div class="form-group col-md-6">
            <label for="inputState">Docente</label>
            <select id="inputState" class="form-control">
              <option selected>Seleccionar</option>
              <option>Pablo Carreño</option>
              <option>Mauricio Alonso</option>
              <option>Juan Velasquez</option>
              <option>Fredys Simanca</option>
            </select>
        </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Nombre de la práctica</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Nombre de la práctica">
    </div>
    <div class="form-group col-md-6">
        <label for="inputState">Facultad</label>
        <select id="inputState" class="form-control">
          <option selected>Seleccionar</option>
          <option>Ingeniería</option>
          <option>Derecho</option>
          <option>Ciencias de la educación</option>
          <option>Ciencias económicas</option>
        </select>
    </div>
  </div>

  <div class="form-group">
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">La solicitud tiene guía de laboratorio</label>
        </div>
    
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Requiere uso del laboratorio</label>
          </div>

          <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch3">
              <label class="custom-control-label" for="customSwitch3">Requiere la asistencia de un auxiliar de laboratorio </label>
            </div>
  </div>
   
  <div class="form-row">
      <div class="form-group col-md-6">
          <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">utiliza máquinas, equipo y/o herramientas</label>
          </div>
          <input type="text" class="form-control" id="inputAddress" placeholder="Cantidad - descripción">
      </div>
      <div class="form-group col-md-6">
          <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Utiliza material de consumo</label>
          </div>
          <input type="text" class="form-control" id="inputAddress" placeholder="Cantidad - descripción">
      </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputAddress">Número de estudiantes a ingresar</label>
          <input type="number" class="form-control" id="inputAddress" placeholder="Número de estudiantes">
      </div>
      <div class="form-group col-md-6">
          <label for="inputAddress">Observaciones</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Observaciones">
      </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Solicitar</button>
</form>
