<div class="jumbotron">
  <div class="padre">

    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    
    <div class="d-flex flex-wrap mt-20" style = "justify-content: space-around; margin-top: 2em">
        
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Solicitudes recibidas</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 19rem;">
              <div class="card-header">Solicitudes aceptadas</div>
              <div class="card-body">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card text-white bg-danger mb-3" style="max-width: 19rem;">
                <div class="card-header">Solicitudes rechazadas</div>
                <div class="card-body">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
              
</div>